<div id="trend1" class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
    <div class="panel-heading text-center">Nuanced.info</div>
    <div class="panel-body">
        <p>This is a story all about how my life got fliped, turned upside down.</p>
        <p>A collaboration between:</p>
        <ul>
            <li><a href="https://elijah.io/" target="_blank">Elijah Kleinsmith</a></li>
            <li><a href="" target="_blank">Ryan Dahlke</a></li>
            <li><a href="" target="_blank">Thomas Murphy</a></li>
            <li><a href="" target="_blank">Zac Copeland</a></li>
        </ul>
    </div>
</div>